#navbar{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navbar p{
    margin-top: -5%;
}
#home img{
    width: 30px;
    margin-top: 60%;
}
#cart img{
    width: 30px;
    margin-top: 60%;
}
#profile img{
    width: 30px;
    margin-top: 60%;
}
#checkout img{
    width: 30px;
    margin-top: 60%;
}
#payment img{
    width: 30px;
    margin-top: 60%;
}
#cart_detail{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 5%;
}
#content{
    display: flex;
    justify-content: space-between;
}
#product{
    width: 75%;
}
#total_cost{
    display: flex;
    justify-content: end;
}
#cost{  
    width: 25%;
    margin-left: 5%;
}
#item{
    display: flex;
    justify-content: space-between;
}
#item_price{
    margin-top: 7%;
}
#submit{
    border: 1px solid purple;
    padding: 10px;
    color: purple;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15%;
}
#submit:hover{
    background-color: purple;
    color: white;
    border: none;
}